@charset "utf-8";
/* CSS Document */
body {
	font-size:12px;
	font-family:"宋体";
	margin:0;
}
a img {
	border:none;
}
#warp {
	margin:0 auto;
	width:980px;
}

#head a{
	color:#005B9B;
}
.quickLink a {
	text-decoration: none;
}
#main {
	padding:10px;
}
#left_box {
	width:670px;
	float:left;
	line-height:140%;
}
#right_box {
	width:282px;
	float:right;
}
.clear {
	clear:both;
}
.logo_img {
	margin:10px 0 0 15px;
}
.menu_img {
	margin:10px 0 20px 0;
}
.left_img {
	float:left;
	width:198px;
	height:98px;
}
.leftbox_right_count {
	float:right;
	width:460px;
}
.leftbox_count {
	margin-top:15px;
}
.leftbox_count p {
	margin:8px 0;
}
.leftbox_right_count p {
	margin:8px 0;
}
.top_p {
	margin-top:0;
	font-size:14px;
	color:#005B9B;
}
.leftbox_bl,.leftbox_bm {
	float:left;
	width:220px;
	border-right:1px solid #CCC;
	margin-right:25px;
	height:97px;
}
.leftbox_bm a {
	margin-right:12px;
}
.leftbox_bl a {
	color:#666;
}
.leftbox_bm a img {
	border:none;
}
	
.leftbox_br {
	float:left;
	width:145px;
}
.leftbox_br p span {
	color:#666;
}
.leftbox_count .left_title_p {
	margin:0 0 15px 0;
	color:#005B9B;
}
.right_box_count {
	border:1px solid #D3D3D3;
	margin-bottom:15px;
}
.right_box_count_next {
	border:1px solid #D3D3D3;
	margin-bottom:15px;
}
.right_box_count_1 {
	border:1px solid #FFF;
	background:#EDF0F4;
	padding:10px;
	
}
.right_box_count_2 {
	border:1px solid #FFF;
	background:#EDF0F4;
	padding:10px;
}
.right_box_count_1  table {
	margin:0 auto;
	width:225px;
}
.right_box_count_1  table th {
	text-align:left;
	font-size:12px;
	padding-bottom:8px;
}
.right_box_count_1  table td {
	padding:6px 0;
	text-align:left;
}
.right_box_count_1  table td a {
	color:#005B9B;
}
.right_box_count_2  p a {
	color:#005B9B;
}


.login_btn {
	background:url(../_img/btn1_bg.gif) no-repeat;
	height:22px;
	width:90px;
	border:none;
	font-weight:bold;
}
.font_style1 {
	font-weight:bold;
	color:#005A9A;
	margin:0 8px;
}
.right_box_count_1 p {
	margin:0 0 6px 0;
}
.right_box_count_1 p a {
	color:#005B9B;
}
#footer {
	text-align:center;
	margin-top:50px;
	color:#666;
	border-top:2px solid #D3D3D3;
	padding-top:5px;
}
#footer a{
	color:#005B9B;
}
.yellowBox {
	background:  url(../_img/Wroning_small.gif) 8px 5px no-repeat #FDFDD0;
	padding-left: 30px;
	border: #FCC022 solid 1px;
	font-size: 12px;
	line-height: 25px;
}
.kongJianBox {
	background:  url(../_img/lygg.gif) 8px 2px no-repeat #96D1EB;
	padding-left: 30px;
	border: #014B7A solid 1px;
	font-size: 12px;
	line-height: 20px;
	width: 150px;
}










	
