@charset "utf-8";
/* CSS Document */
#main {
	margin-top:15px;
}
#left_box {
	float:left;
	width:170px;
}
#right_box {
	float:right;
	width:796px;
}
.leftbox_top {
	background:url(../_img/my_leftbox_bg_top.gif) no-repeat top;
	padding-top:8px;
}
.leftbox_bottom {
	background:url(../_img/my_leftbox_bg_bottom.gif) no-repeat bottom;
	padding-bottom:8px;
}
.leftbox_count {
	border-left:1px solid #D3D3D3;
	border-right:1px solid #D3D3D3;
	padding:0 5px;
	background:#FFF;
	height:148px;
}
.leftbox_count p {
	margin:0;
	padding:8px;
}
.leftbox_count p a {
	color:#000;
	text-decoration:none;
}
.leftbox_count_p {
	background:url(../_img/btn4_bg.gif) no-repeat;
}
.leftbox_count .leftbox_count_p a {
	font-weight:bold;
	color:#FFF;
}
.leftbox_top1 {
	background:url(../_img/my_leftbox_bg1_top.gif) no-repeat top;
	padding-top:8px;
	margin-top:15px;
}
.leftbox_bottom1 {
	background:url(../_img/my_leftbox_bg1_bottom.gif) no-repeat bottom;
	padding-bottom:8px;
	#position: relative;
	#height: 100px;
	_position: relative;
	_height: 100px;
}
.leftbox_count1 {
	border-left:1px solid #C4C7CA;
	border-right:1px solid #C4C7CA;
	padding:0 5px;
	background:#EDF0F4;
}
.leftbox_count1 p {
	margin:0;
	padding:2px 8px 5px 8px;
	font-weight:bold;
}
.leftbox_count1 ul {
	margin:0 0 0 20px;
	padding:0;
}
.leftbox_count1 ul li {
	color:#727272;
	margin:0;
	padding:10px 0;
}
.leftbox_count1 ul li a {
	color:#000;
	text-decoration:none;
}
.rightbox_top {
	background:url(../_img/rightbox_bg_top.gif) no-repeat top;
	padding-top:12px;
	margin-bottom:15px;
}
.rightbox_bottom {
	background:url(../_img/rightbox_bg_bottom.gif) no-repeat bottom;
	padding-bottom:12px;
}
.rightbox_count {
	border-left:1px solid #D2D2D2;
	border-right:1px solid #D2D2D2;
	padding:0 8px;
	background:#FFF;
}
.rightbox_title {
	background:url(../_img/title_bg1.jpg) no-repeat left;
	padding-left:2px;
}
.rightbox_title_right {
	background:url(../_img/title_bg2.jpg) no-repeat right;
	padding-right:2px;
}
.rightbox_title_count {
	height:14px;
	background:#E4E4E4;
	padding:8px;
	font-weight:bold;
}
.right_count_tabel td {
	padding:8px 5px;
}
.right_count_tabel td a {
	color:#005C9C;
	margin-right:20px;
}
.right_count_tabel td  img {
	vertical-align:middle;
	margin-right:5px;
}

.user_pic {
	float:right;
	width:104px;
	text-align:center;
	margin-right:50px;
	background:#FFF;
	margin-top:10px;
}
.user_pic img {
	padding:1px;
	border:1px solid #D3D3D3;
	height:100px;
	width:100px;
	margin-bottom:8px;
}
.user_pic a {
	color:#005C9C;
	font-size:12px;
}
.font_style3 {
	width:75px;
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
	display:inline-block;
	text-align:right;
	margin-right:15px;
}
.right_count_tabel td .a_style1 {
	text-decoration:none;
	color:#000;
	margin-left:15px;
}
.right_count_tabel td .a_style2 {
	text-decoration:none;
	color:#CC0000;
	margin-left:15px;
}
.font_style4 {
	color:#CC0000;
}









