#MyMenu {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menu.png) repeat-x 0px -72px; MARGIN: 10px auto 0px; WIDTH: 760px; HEIGHT: 36px
}
.MyMenubg {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menu.png) no-repeat
}
#TabMenu H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 5px
}
#TabMenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 25px; PADDING-TOP: 7px; LIST-STYLE-TYPE: none
}
#TabMenu UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 100px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px
}
#TabMenu UL LI A {
	DISPLAY: block; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat left top; COLOR: #7f3804; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#TabMenu UL LI A SPAN {
	DISPLAY: block; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat right -29px
}
#TabMenu UL A:hover {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat 0px -58px
}
#TabMenu UL A:hover SPAN {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat right -87px
}
#TabMenu UL LI.TabMenuOn {
	WIDTH: 120px
}
#TabMenu UL LI.TabMenuOn A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat 0px -116px; COLOR: #000
}
#TabMenu UL LI.TabMenuOn A:hover {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat 0px -116px
}
#TabMenu UL LI.TabMenuOn A SPAN {
	DISPLAY: block; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat right -145px
}
#TabMenu UL LI.TabMenuOn A:hover SPAN {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/teach/menuStat.png) no-repeat right -145px
}
.transect {
	FLOAT: left; MARGIN-LEFT: auto; WIDTH: 100%; MARGIN-RIGHT: auto
}
#function {
	FLOAT: left; WIDTH: 158px; TEXT-ALIGN: left
}
#content {
	FLOAT: left; TEXT-ALIGN: right
}
#guide {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) repeat-x -159px 0px; WIDTH: 159px
}
#guide .shell {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) no-repeat 50% top
}
#guide .subshell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) no-repeat 0px -5px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
#guide H5 {
	FONT-SIZE: 14px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/h5.png) no-repeat 0px -32px; MARGIN: 6px 0px 0px; WIDTH: 149px; HEIGHT: 28px
}
#guide H5 A {
	DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 100%; MARGIN: 8px 0px 0px; COLOR: #000; TEXT-INDENT: 1em; TEXT-DECORATION: none
}
#guide H5 A:hover {
	COLOR: #369
}
#guide H5.active {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/h5.png) no-repeat
}
#guide H5.active A {
	COLOR: #fff
}
#guide H5.active A:hover {
	COLOR: #cde
}
#guide UL {
	LIST-STYLE-POSITION: inside; FONT-SIZE: 14px; MARGIN: 5px; WIDTH: 147px; LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
#guide LI.top {
	BACKGROUND: url(https://img.alipay.com/img/securitycenter/guide_top.gif) no-repeat 50% top
}
#guide LI.bottom {
	BACKGROUND: url(https://img.alipay.com/img/securitycenter/guide_bottom.gif) no-repeat 50% top
}
#guide LI#on {
	COLOR: #f60
}
#guide LI {
	PADDING-LEFT: 35px; BACKGROUND: url(https://img.alipay.com/img/securitycenter/guide_bg.gif) no-repeat 50% top
}
.node {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 560px; PADDING-TOP: 10px
}
.url {
	FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 2px
}
#funlist P {
	FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px
}
#funlist {
	MARGIN-TOP: 25px; PADDING-LEFT: 50px; FLOAT: left; BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: left
}
#funlist H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#scIndex {
	WIDTH: 950px; TEXT-ALIGN: left
}
#scIndex #indexLeft {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_sc_left.jpg) no-repeat; FLOAT: left; WIDTH: 307px; HEIGHT: 469px
}
#scIndex #indexRightTop {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_sc_top.jpg) no-repeat; FLOAT: left; WIDTH: 643px; HEIGHT: 171px
}
#scIndex #indexRightBottom {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_sc_btm.png) no-repeat; FLOAT: left; WIDTH: 643px; HEIGHT: 298px
}
#scIndex #indexRightBottom .bottomText {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 60px
}
.bottomText UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#scIndexSafeLeft {
	PADDING-RIGHT: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 8px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_btmNote.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 15px; WIDTH: 557px; COLOR: #3e3e3e; LINE-HEIGHT: 10px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
#scIndexSafeRight {
	MARGIN-TOP: 20px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_btmNote.png) no-repeat 0px -140px; FLOAT: right; WIDTH: 383px; HEIGHT: 67px; TEXT-ALIGN: left
}
#scIndexSafeRight .ADTitle {
	MARGIN-TOP: 8px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; WIDTH: 58px
}
#scIndexSafeRight UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 260px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.iefix {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_40.png) no-repeat
}
.spy {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_40.png) no-repeat 0px -150px
}
.clen {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_40.png) no-repeat 0px -300px
}
.ban {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_40.png) no-repeat 0px -450px
}
.virus {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_40.png) no-repeat 0px -600px
}
.alrt {
	CLEAR: both; MARGIN-TOP: 8px; PADDING-LEFT: 20px; FONT-SIZE: 12px; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
#helplink {
	MARGIN-TOP: 20px; FLOAT: right; WIDTH: 176px
}
#helplink .shell {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_help.png) no-repeat; PADDING-BOTTOM: 0px; COLOR: #5b6267; PADDING-TOP: 5px; HEIGHT: 20px; TEXT-ALIGN: left
}
#helplink .subshell {
	BORDER-RIGHT: #cfcfcf 1px solid; MARGIN: 0px; BORDER-LEFT: #cfcfcf 1px solid; TEXT-ALIGN: center
}
#helplink .bottom {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_help.png) no-repeat -176px 0px; MARGIN: 0px; HEIGHT: 6px
}
#helplink UL {
	PADDING-LEFT: 10px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#helplink LI.mo {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
#zixun {
	MARGIN-TOP: 15px; PADDING-LEFT: 20px; FONT-SIZE: 12px; FLOAT: left; COLOR: #0051e5; TEXT-ALIGN: left
}
#zixun A {
	COLOR: #0051e5; TEXT-DECORATION: none
}
#download {
	MARGIN-TOP: 10px; FLOAT: right
}
.title {
	FLOAT: left; MARGIN-LEFT: 18px; WIDTH: 650px
}
.title H2 {
	MARGIN-TOP: 18px; FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-ALIGN: left
}
.title P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #4f4f4f; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: left
}
.cert_transect {
	MARGIN-LEFT: auto; WIDTH: 760px; MARGIN-RIGHT: auto
}
#cert_function {
	FLOAT: left; WIDTH: 158px
}
#cert_content {
	FLOAT: left; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 7px; WIDTH: 585px
}
#cert_announcement {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) repeat-y -318px 0px; FLOAT: right; WIDTH: 159px
}
#cert_announcement .cert_shell {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) no-repeat 0px 0px
}
#cert_announcement .cert_subshell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) no-repeat -159px bottom; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#cert_announcement .cert_subshell P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 12px; FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
#cert_announcement .cert_subshell UL {
	PADDING-RIGHT: 5px; FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
#cert_announcement H4 {
	FONT-SIZE: 12px; MARGIN: 0px; TEXT-ALIGN: left
}
#cert_announcement H4 A {
	MARGIN: 0px; COLOR: #000; TEXT-DECORATION: none
}
#cert_announcement UL {
	MARGIN: 0px 0px 10px 25px; COLOR: #039; LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: square
}
#cert_announcement A {
	COLOR: #039
}
#cert_announcement A:hover {
	COLOR: #f30
}
#cert_announcement .cert_more {
	PADDING-RIGHT: 5px; FONT-SIZE: 12px; MARGIN: -10px 0px 0px; TEXT-ALIGN: right
}
#cert_updated {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) repeat-y -318px 0px; FLOAT: right; MARGIN: 8px 0px 0px; WIDTH: 159px; TEXT-ALIGN: center
}
#cert_updated .cert_shell {
	
}
#cert_updated .cert_subshell {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_159x.png) no-repeat -159px bottom
}
#cert_updated IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 6px 0px; BORDER-RIGHT-WIDTH: 0px
}
#cert_updated P {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #315612; LINE-HEIGHT: 1.5em; PADDING-TOP: 6px
}
#cert_synopsis {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_synopsis.png) repeat-y -585px 0px; WIDTH: 585px
}
#cert_synopsis .cert_shell {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_synopsis.png) no-repeat 0px 0px
}
#cert_synopsis .cert_subshell {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_synopsis.png) no-repeat -1170px bottom
}
#cert_synopsis .cert_shellbackground {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_synopsis_body.png) no-repeat right bottom; PADDING-BOTTOM: 24px; PADDING-TOP: 24px; HEIGHT: 242px; TEXT-ALIGN: left
}
#cert_synopsis .cert_shellbackground02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; BACKGROUND: url(../../i/cn/securitycenter/pan_synopsis_body02.png) no-repeat right bottom; PADDING-BOTTOM: 24px; PADDING-TOP: 24px; HEIGHT: 242px; TEXT-ALIGN: left
}
#cert_synopsis .cert_content {
	FONT-SIZE: 12px; WIDTH: 300px
}
#cert_synopsis H4 {
	FONT-SIZE: 100%; MARGIN: 0px; TEXT-ALIGN: left
}
#cert_synopsis P {
	FONT-SIZE: 12px; MARGIN: 1em 0px 0px; TEXT-INDENT: 2em; LINE-HEIGHT: 1.5em
}
#cert_synopsis P STRONG {
	FONT-WEIGHT: normal; COLOR: #d35c00
}
#cert_characteristic {
	MARGIN-TOP: 20px; TEXT-ALIGN: left
}
#cert_characteristic .cert_shell {
	PADDING-RIGHT: 1em; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cert_title {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 10px; TEXT-ALIGN: left
}
#cert_characteristic P {
	FONT-SIZE: 12px; MARGIN: -88px 0px 12px 64px; LINE-HEIGHT: 15px
}
#cert_characteristic OL {
	MARGIN: -88px 0px 12px 88px; LINE-HEIGHT: 15px
}
#cert_characteristic .noder {
	BACKGROUND: url(https://img.alipay.com/img/securitycenter/line_dot.gif) repeat-x 50% bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 50px; BORDER-BOTTOM: #ccc 1px dashed
}
#cert_characteristic .noder P {
	LINE-HEIGHT: 150%
}
#cert_characteristic H5 {
	BACKGROUND-POSITION: 0px 18px; FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 49px; COLOR: #666; BACKGROUND-REPEAT: no-repeat! important; HEIGHT: 68px; TEXT-ALIGN: center
}
#cert_characteristic #cert_security H5 {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_50.png) no-repeat
}
#cert_characteristic #cert_uniquenes H5 {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_50.png) no-repeat 0px -150px
}
#cert_characteristic #cert_expedite H5 {
	BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_50.png) no-repeat 0px -300px
}
#HelpDetail {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 20px; WIDTH: 580px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
#HelpDetail H2 {
	PADDING-LEFT: 5px; FONT-SIZE: 14px; MARGIN: 0px 0px 15px
}
#HelpDetail UL {
	PADDING-LEFT: 15px; MARGIN: 10px 0px
}
#HelpDetail LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND: url(https://img.alipay.com/assets/i/base/icon/icon_16.png) no-repeat 0px -81px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: middle; PADDING-TOP: 8px; BORDER-BOTTOM: #ccc 1px dashed; LIST-STYLE-TYPE: none
}
#sc_content {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #e3e3e3; PADDING-BOTTOM: 10px; BORDER-LEFT: #bcbcbc 1px solid; WIDTH: 563px; PADDING-TOP: 10px
}
#sc_content P {
	FONT-SIZE: 12px
}
#sc_content UL {
	MARGIN-LEFT: 20px; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none
}
.conleft {
	PADDING-RIGHT: 12px; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 12px; WIDTH: 250px; PADDING-TOP: 10px
}
.conleft P {
	LINE-HEIGHT: 25px
}
.conleft LI {
	LINE-HEIGHT: 25px
}
.conright {
	PADDING-RIGHT: 12px; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 12px; WIDTH: 250px; PADDING-TOP: 6px
}
.conright P {
	LINE-HEIGHT: 25px
}
.conright LI {
	LINE-HEIGHT: 25px
}
.conleft UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.conright UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.phishing {
	FONT-SIZE: 12px; MARGIN: 5px; WIDTH: 510px
}
.phishing #phishingLogo {
	BACKGROUND: url(../../img/securitycenter/phishing.gif) no-repeat left 50%; FLOAT: left; WIDTH: 175px; HEIGHT: 32px
}
.phishing #prohibitedLogo {
	BACKGROUND: url(../../img/securitycenter/reportProhibited2.gif) no-repeat left 50%; FLOAT: left; WIDTH: 175px; HEIGHT: 32px
}
.phishing #info {
	FLOAT: right; WIDTH: 300px; PADDING-TOP: 20px; TEXT-ALIGN: left
}
.phishing #alt {
	PADDING-LEFT: 5px; COLOR: #ff7300; PADDING-TOP: 5px
}
.phishing #cont {
	MARGIN-TOP: 20px; WIDTH: 450px; TEXT-ALIGN: left
}
.phishing #cont P INPUT {
	WIDTH: 300px
}
.phishing P {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.phishing #note_top {
	CLEAR: both; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_fishing.png) no-repeat; WIDTH: 505px; HEIGHT: 13px
}
.phishing #note {
	CLEAR: both; BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_fishing.png) no-repeat -505px 0px; WIDTH: 505px
}
.submit {
	FLOAT: left; WIDTH: 400px
}
.phishing #note P {
	CLEAR: both; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; MARGIN: 10px 0px 10px 10px; WIDTH: 350px; TEXT-INDENT: 2em; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.phishing #note_bottom {
	BACKGROUND: url(https://img.alipay.com/assets/i/nodes/securitycenter/pan_fishing.png) no-repeat -1010px 0px; WIDTH: 505px
}
.phishing #note IMG {
	MARGIN: 50px 10px 0px 0px
}
.line {
	PADDING-LEFT: 26px; FONT-WEIGHT: bold; PADDING-BOTTOM: 8px; WIDTH: 734px; BORDER-BOTTOM: #eed 3px solid; TEXT-ALIGN: left
}
#NavStep {
	CLEAR: both; MARGIN: 15px auto 20px; WIDTH: 760px; TEXT-ALIGN: right
}
#NavStep UL {
	FONT-SIZE: 12px; LIST-STYLE-TYPE: none
}
#NavStep UL LI {
	BACKGROUND: url(https://img.alipay.com/img/icon/arrowOff.gif) no-repeat 1px 5px; FLOAT: right; LINE-HEIGHT: 19px; LIST-STYLE-TYPE: none; HEIGHT: 17px
}
#NavStep UL LI.current {
	BACKGROUND-IMAGE: url(https://img.alipay.com/img/icon/arrowOn.gif)
}
#NavStep UL LI.current SPAN {
	FONT-WEIGHT: bold; COLOR: #000
}
#NavStep UL LI SPAN {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 21px; PADDING-BOTTOM: 0px; COLOR: #6c6c6c; PADDING-TOP: 1px
}
#NavStep UL LI SPAN#one {
	BACKGROUND: url(https://img.alipay.com/img/icon/oneOff.gif) no-repeat 0px 50%
}
#NavStep UL LI SPAN#two {
	PADDING-LEFT: 40px; BACKGROUND: url(https://img.alipay.com/img/icon/twoOff.gif) no-repeat 20px 50%
}
#NavStep UL LI SPAN#three {
	PADDING-LEFT: 40px; BACKGROUND: url(https://img.alipay.com/img/icon/threeOff.gif) no-repeat 20px 50%
}
#NavStep UL LI SPAN#four {
	PADDING-LEFT: 40px; BACKGROUND: url(https://img.alipay.com/img/icon/fourOff.gif) no-repeat 20px 50%
}
#NavStep UL LI SPAN#five {
	PADDING-LEFT: 40px; BACKGROUND: url(https://img.alipay.com/img/icon/fiveOff.gif) no-repeat 20px 50%
}
#NavStep UL LI.current SPAN#one {
	BACKGROUND: url(https://img.alipay.com/img/icon/oneOn.gif) no-repeat 0px 50%
}
#NavStep UL LI.current SPAN#two {
	BACKGROUND: url(https://img.alipay.com/img/icon/twoOn.gif) no-repeat 20px 50%
}
#NavStep UL LI.current SPAN#three {
	BACKGROUND: url(https://img.alipay.com/img/icon/threeOn.gif) no-repeat 20px 50%
}
#NavStep UL LI.current SPAN#four {
	BACKGROUND: url(https://img.alipay.com/img/icon/fourOn.gif) no-repeat 20px 50%
}
#NavStep UL LI.current SPAN#five {
	BACKGROUND: url(https://img.alipay.com/img/icon/fiveOff.gif) no-repeat 20px 50%
}
.sHSample {
	FLOAT: left; MARGIN-BOTTOM: 30px
}
.bdgray {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
