@charset "utf-8";
/* CSS Document */

.h10{height:10px;}
.h5{height:5px;}
body { 
	margin:0;
	padding:0;
	font-size:12px;
	font-family:"宋体";
	background:#EDF0F4 url(../_img/body_bgx.jpg) repeat-x;
	
}
form {
	padding: 0;
	margin: 0;
}
a img {
	border:none;
}
#warp {
	width:980px;
	margin:0 auto;
}
#head {
	padding:10px 15px;
}
#head a {
	border-left:1px solid #999;
	padding:0 5px 0 10px;
	color:#005c9c;
}
#head em {
	font-style: normal;
}
#head em a {
	border: none;
}
#head .head_a {
	text-decoration:none;
	color:#000;
	border:none;
}
.head_img1 {
	border:1px solid #d6d6d6;
	padding:1px; margin-right:5px;
	vertical-align:middle;
	height:18px;
	width:18px;
}
.head_img2 {
	vertical-align:middle;
	margin-left:1px;
}


.nav {
	height: 33px;
	background:url(../_img/headerNav_bg.gif) no-repeat;
	padding-left:4px;
}
.nav_a {
	height: 33px;
	background:url(../_img/headerNav_bg.gif) no-repeat 0 -33px;
	background-position:right;
	padding-right:4px;
}
.nav_b {
	height: 33px;
	line-height: 33px;
	background:url(../_img/headerNav_bg.gif) repeat-x 0 -66px;
	padding:0 0 0 20px;
}
.nav_b .more{
	margin-left:750px;
}
.main_top {
	background:#fff url(../_img/main_top_bg.jpg) no-repeat top;
	padding-top:4px;
	margin-top:12px;
	width: 980px;
}
.main_bottom {
	background:url(../_img/main_bottom_bg.jpg) no-repeat bottom; 
	padding-bottom:4px;
}
.main_mid {
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	padding:6px 15px;
}
.pad_certification {
	padding:10px 5px;
}
.pad_certification img {
	margin-right:10px;	
}
.application_certification{
	float:left;
	width:570px;
	margin:0 0 0 15px;
}
.application_certification p {
	margin:0 0 15px 0;	
}
.application_certification .application_function {
	border:1px solid #C6D880;
	padding:5px 8px;
	background:#E6EFC2;
	color:#264409;
	margin:10px 0 30px 0;
}
.application_certification .application_function p {
	margin:0;
	padding:5px;
}
.bottom_p {
	margin:20px 0 8px 0;
	text-align:center;
}
.bottom_p a {
	color:#005C9C;
	margin-left:20px;
}
.main_mid h1 {
	font-size:16px;
	margin:5px 0 0 0;
	padding-bottom:8px;
	border-bottom:1px solid #D3D3D3;
	color:#333;
}
.main_mid h2 {
	font-size:16px;
	margin:5px 0 0 0;
	padding-bottom:8px;
	color:#005C9C;
}
.id_card_address {
	margin:10px 0;
}
.id_card_menu {
	border-bottom:2px solid #FCC022;
	padding-left: 5px;
}
.id_card_menu a {
	background:url(../_img/id_card_a.jpg) no-repeat;
	height:21px;
	width:100px;
	display:inline-block;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	color:#005B9B;
	font-size:14px;
}
.id_card_menu .at_id_card {
	background:url(../_img/at_id_card.jpg) no-repeat;
	color:#FFF;
}
.id_card_count {
	border:1px solid #DDD;
	background:#FAFAFA;
	padding:10px;
	border-top:none;
	margin-bottom:15px;
}
.id_card_count ul { 
	margin:5px 0 5px 25px;
}
.id_card_count ul li {
	padding:6px 0;
}
.id_card_count p {
	margin:10px 0 10px 10px;
}
.p_style1 {
	margin:5px 0 0 15px;
	padding:0;
	color:#999;
}
.id_card_table td {
	padding:20px 0 5px 0;
}
.id_card_table .td_span,.information_table .td_span {
	padding:0;
	color:#999;
	font-size:12px;
}
.id_card_table .td_span a {
	color:#005C9C;	
}
.main_title {
	background:url(../_img/title_bg1.jpg) no-repeat left top;
	padding-left:2px;
	font-size:12px;
}
.main_title_right {
	background:#E4E4E4 url(../_img/title_bg2.jpg) no-repeat right top;
	padding-right:2px;
	height: 30px;
	line-height: 30px;
}
.main_title div p {
	margin:0;
	padding:0 0 0 10px;
}
.information_table {
	font-size:14px;
	margin:0;
	padding:8px 0;
}
.information_table td {
	padding:8px 3px;
	
}
.information_table td a {
	color:#005C9C;
	font-size:12px;
	margin-left:10px;
}
.information_table td img {
	vertical-align:middle;
	margin-left: 8px;
}
.information_table .right_td {
	text-align:right;
	width:160px;
}
.information_table .right_td_1 {
	width:200px;
}
.blue-grayBox {
	background:  url(../_img/zhuyi_ico.gif) 8px 8px no-repeat #66CCFF;
	padding-left: 30px;
	border: #425CCD solid 1px;
	font-size: 12px;
	line-height: 18px;
}
.yellowBox {
	background:  url(../_img/Wroning_small.gif) 8px 8px no-repeat #FDFDD0;
	padding-left: 30px;
	border: #FCC022 solid 1px;
	font-size: 12px;
	line-height: 18px;
}
.yellowBox_1 {
	padding: 3px 3px 3px 30px;
}
.yellowBox_mes {
	background:  url(../_img/Wroning_small.gif) 8px 8px no-repeat #FDFDD0;
	border: #FCC022 solid 1px;
	padding: 8px 12px 6px 30px;
	margin: 12px auto;
}
.blueBox_mes {
	background: url(../_img/Attention.gif) 8px 8px no-repeat #eef5ff;
	border: 1px solid #CCE;
	padding: 24px 12px 10px 80px;
	margin: 12px auto;
}
.blueBox_mes span {
	color: #005B9B;
	font-size: 14px;
	font-weight: bold;
}
.blueBox_mes p {
	margin-top: 30px;
}
.greenBox_mes {
	background: url(../_img/OK_img.gif) 8px 8px no-repeat #E6EFC2;
	border: 1px solid #C6D880;
	padding: 24px 12px 10px 80px;
	margin: 12px auto;
}
.greenBox_mes span {
	color: #264409;
	font-size: 14px;
	font-weight: bold;
}
.greenBox_mes ul {
	margin-top: 30px;
	padding-left: 12px;
	line-height: 24px;
}
.main_mid .td_p {
	margin:0;
	padding:3px 10px;
	border:1px solid #FFD327;
	background:#FFF6BF;
	color:#993300;
	font-size:12px;
	width:505px;
}
.success {
	padding:10px 0;
}
.ok_img {
	float:left;
	width:48px;
	height:48px;
	margin:10px 15px;
}
.success_right {
	width:872px;
	float:right;
}
.success_right p {
	margin:0;
	padding:8px 0 10px 0;
}
.success_right p a,.success_ul li a,.id_card_already_right ul li a {
	color:#005A9A
}
.success_right .flow_img {
	background:url(../_img/flow_img.jpg) no-repeat;
	width:789px;
	height:52px;
	margin-top:10px;
}
.success_ul,.id_card_already_right ul  {
	margin:10px 0 0 15px;
	padding:0;
}
.success_ul li {
	margin:0;
	padding:5px 0;
}
.flow_img span {
	float:left;
	padding:10px 10px 0 10px;
	line-height:140%;
}
.span1 {
	width:74px;
}
.span2 {
	margin-left:30px;
	width:155px;
}
.span3 {
	margin-left:25px;
	width:175px;
	color:#FFF;
}
.span4 {
	margin-left:35px;
	width:210px;
}
.id_card_already {
	border:1px solid #FFD327;
	background:#FFFFEE;
	padding:15px 0 15px 15px;
	margin-top:10px;
	height:160px;
}
.id_card_already img {
	float:left;
	height:48px;
	width:48px;
}
.id_card_already_right {
	float:right;
	margin-top: -45px;
	width:865px;
}
.id_card_already_right p {
	margin:0;
	padding-bottom:15px;
	font-weight:bold;
	font-size:16px;
	border-bottom:1px solid #D3D3D3
}
.id_card_already_right ul li {
	margin:0;
	padding:10px 0;
}
.right_nav {
	float:right;	
	color:#FFF;
	margin:2px 10px 0 0;
}
.right_nav a {
	color:#FFF;
	margin:0 5px;
	text-decoration:none;
}
.right_nav .right_nav_at {
	font-weight:bold;
	color:#000;
}
.main_title2 {
	padding-bottom:8px;
}
.deal_list_head {
	padding-left:5px;
	border-bottom:3px solid #FCC022;
}
.deal_list_head a {
	background:url(../_img/bottom_menu_a_bg.jpg) no-repeat;
	font-weight:bold;
	text-decoration:none;
	color:#005B9B;
	font-size:14px;
	width:100px;
	margin-left:0px;
	height:21px;
	padding-top:10px;
	display:inline-block;
	text-align:center;
}

.deal_list_head2 a {
	background:url(../_img/bottom_menu_a_bg.jpg) no-repeat;
	font-weight:bold;
	text-decoration:none;
	color:#005B9B;
	font-size:12px;
	width:50px;
	margin-left:0px;
	height:20px;
	padding-top:8px;
	display:inline-block;
	text-align:center;
}
.deal_list_head .at_deal_list_head {
	background:url(../_img/at_bottom_menu_a_bg.jpg) no-repeat;
	color:#FFF;
}
.deal_list_head2 .at_deal_list_head {
	background:url(../_img/at_bottom_menu_a_bg.jpg) no-repeat;
	color:#FFF;
}
.deal_list_count {
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
	padding:10px;
	background:#FAFAFA;
}
.deal_list_count a,.deal_table td a {
	color:#005C9C
}
.deal_table {
	border-collapse: collapse;
}
.deal_table th {
	text-align:left;
	font-weight:normal;
	background:#E5E5E5;
	border:1px solid #BBBBBB;
}
.deal_table th div {
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	padding:6px;
}
.deal_table td {
	padding:6px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.page_td {
	text-align:right;
	background:#E6E6E6;
	border-top:1px solid #fff;
	border-right:1px solid #ddd;	
}
.right_span {
	float:right;
	margin-top:5px;
}
.right_span a {
	color:#005B9B;	
}

.font_style1 {
	font-weight:bold; 
	color:#F00;
}
.font_style2 {
	font-weight:bold;
	color:#005C9C;
}
.font_style3 {
	font-weight:bold;
	font-size:14px;
	color:#FFF;
}
.font_style4 {
	font-weight:bold; 
	font-size:14px;
	color:#333;
}
.font_style5 {
	font-weight:bold;
	font-size:14px;
	color:#264409;
}
.font_style6 {
	font-size:14px;
	color:#E69F18;
}
.font_style7 {
	font-weight:bold;
	font-size:16px;
}
.font_style8 {
	color:#666;
	margin-left:8px;
}

.a_btn2 {
	background:url(../_img/btn2_bg.gif) no-repeat;
	width:120px; 
	height:22px;
	line-height: 20px;
	font-weight:bold;
	display:block;
	color:#000;
	text-decoration:none;
	text-align:center;
	margin-left:30px;
}
.information_table .a_btn1 {
	background:url(../_img/btn1_bg.gif) no-repeat;
	font-weight:bold;
	font-size:12px;
	width:90px;
	height:18px;
	display:block;
	padding-top:4px;
	text-align:center;
	text-decoration:none;
	color:#000;
}
.btn1 {
	background:url(../_img/btn1_bg.gif) no-repeat;
	border:none;
	font-weight:bold;
	font-size:12px;
	width:90px;
	height:22px;
}
.btn2 {
	background:url(../_img/btn3_bg.gif) no-repeat;
	width:157px;
	height:22px;
	border:none;
	font-weight:bold
}
.clear {
	clear:both;
	margin:0;
	padding:0; 
	visibility:hidden;
}
#footer {
	text-align:center;
	margin-top:30px;
	color:#666;
	border-top:2px solid #D3D3D3;
	padding-top:5px;
}
input,select {
	vertical-align:middle;
}
textarea {
	font-size:12px;
	line-height:120%;
}

.id_card_count2,.id_card_count3,.id_card_count4 {
	display:none;
}
.aa_receivables td {
	padding:6px 0;
}
.aa_receivables .right_td {
	text-align:right;
	width:170px;
	font-size:14px;
}
.table_box {
	border:1px solid #D4D4D4;
	width:680px;
}
.table_left_box {
	float:left;
	width:339px;
	height:337px;
	border-right:1px solid #D4D4D4;
}
.table_right_box {
	float:left;
	width:328px;
	background:#E7E7E7;
	padding:6px;
}
.float_right {
	float:right;
}
.table_left_box p {
	margin:15px 8px;
}
.table_left_box p img {
	vertical-align:middle;
	margin:0 8px;
}
.table_left_box .table_left_box_p {
	background:#EDF0F4;
	padding:8px;
	margin:15px 0;
	border-top:1px solid #D3D3D3;
	border-bottom:1px solid #D3D3D3;
}
.table_right_box_count {
	border:1px solid #D3D3D3;
	background:#FFF;
	height:323px;
}
.table_right_box_count p {
	margin:0;
	padding:8px;
	font-size:14px;
}
.p_style3 {
	background:#FFEA8C;
}
.p_style2 {
	background:#FFF9DC;
}
.a_style1 {
	color:#005B9B;
	margin-left:15px;
}
.pay_ask {
	margin:0 0 0 18px;
	padding:0;
}
.pay_ask li {
	margin:15px 0;
	padding:0px;
}
.pay_ask li p {
	margin:5px 0;
	line-height:150%;
}
.no_tr,.no_tra {
	display:none;
}
.banner_td p {
	margin:0;
	padding:5px 0 8px 0;
}
.font_style9 {
	font-size:12px;
	color:#999;
	line-height:140%;
}
.font_style10 {
	font-size:12px;
	color:#005B9B;
	line-height:140%;
}
.retrieve_password {
	border:1px solid #B4C4E1;
	padding:10px;
	background:#F4F7FB;
	margin-top:10px;
}
.retrieve_password img {
	float:left;
	width:48px;
}
.retrieve_password_right {
	float:left;
	margin-left:15px;
}
.retrieve_password_right p {
	margin:0;
	color:#666;
}
.retrieve_password_right .right_top_p {
	margin:8px 0;
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.pay_way {
	padding:10px;
}
.pay_way .pay_way_p {
	margin:15px 0;
	font-weight:bold;
	font-size:14px;
}
.pay_kind {
	margin-bottom: 20px;
}
.pay_kind ul {
	margin: 0;
	padding: 0;
}
.pay_kind li {
	list-style: none;
}
.pay_kind .pay_kind_main {
	background: url(../_img/pay_kind_1.png) no-repeat;
	width: 715px;
	height: 120px;
	display: block;
	text-decoration: none;
	padding: 7px 0 0 20px;
	overflow: hidden;
}
.pay_kind .pay_kind_main:hover {
	background: url(../_img/pay_kind_1_pushdown.png) no-repeat;
	overflow: hidden;
	width: 715px;
	height: 120px;
}
.pay_kind li .pay_kind_h1 {
	color: #C00;
	font-size: 14px;
	font-weight: bold;
}
.pay_kind li {
	padding: 5px 0;
	color: #666;
}
.pay_kind li .pay_kind_1_bottom {
	height: 40px;
	margin-left: -10px;
}
.pay_kind li .pay_kind_1_bottom li {
	list-style: none;
	text-align: center;
	padding: 5px 18px 5px 0;
	margin-left: 9px;
	background: url(../_img/pay_kind_1_bottom_1.png) no-repeat;
	width: 79px;
	height: 40px;
	float: left;
	display: block;
	color: #000;
	word-break: break-all;
}
.pay_kind li .pay_kind_1_bottom .oneline {
	line-height: 40px;
	padding-top: 0;
}
.pay_kind li .pay_kind_1_bottom li.done {
	background: url(../_img/pay_kind_bottom.png) no-repeat;
	width: 80px;
	height: 40px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 14px;
	line-height: 220%;
}
.pay_kind_white .pay_kind_main {
	background: url(../_img/pay_kind_2.png) no-repeat;
}
.pay_kind_white .pay_kind_main:hover {
	background: url(../_img/pay_kind_2_pushdown.png) no-repeat;
}
.pay_kind_white li .pay_kind_h1 {
	color: #000;
	margin-top: 50px;
}
.pay_kind_white .pay_kind_1_bottom {
	margin-top: 12px;
}
.pay_kind_white li .pay_kind_1_bottom li {
	background: url(../_img/pay_kind_1_bottom_2.png) no-repeat;
}
.pay_kind_white{
	position: relative;
}
#pay_kind_white_a{
	position: absolute;
	left: 180px;
	top: 23px;
	color: #005c9c;
}
#pay_kind_white_a:hover {
	color: #F60;
}
.pay_kind_white .pay_kind_main li .pay_kind_h1 {
	margin-top: 10px;
	display: block;
}
#pay_kind_white_a .popbox{
	background: url(../_img/pop.png);
	width: 246px;
	height: 140px;
	display: none;
	margin-left: 90px;
}
#pay_kind_white_a:hover .popbox{
	display: block;
	text-decoration:none;
}
#pay_kind_white_a .popbox li.popbox_title {
	font-size: 14px;
	font-weight: bold;
	color: #A3671F;
}
#pay_kind_white_a .popbox ul.word_location {
	padding: 26px 0 0 10px;
}
#pay_kind_white_a .popbox li.popbox_word {
	color: #4C4C4C;
	list-style-position: inside;
	list-style-type: disc;
}
.Contact_box {
	background: #fff;
	border: #D3D3D3 solid 1px;
	width: 640px;
	margin: 6px 0 0 150px;
	padding:0;
}
.Contact_box .Contact_title {
	background: #FEECBC;
	height: 30px;
}
.Contact_box .Contact_title * {
	vertical-align: middle;
}
.Contact_box .Contact_title em {
	color: #333;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	margin-left: 16px;
}
.Contact_box .Contact_title a {
	color: #005B9B;
	margin-left: 12px;
}
.Contact_box .Contact_title a:hover {
	color: #F60;
}
.Contact_box .Contact_input {
	width: 167px;
	margin-left: 40px;
	color: #999;
	vertical-align: middle;
}
.simplyBtn_1 {
	padding-left: 2px;
	display: inline-block;
	height: 22px;
	background: url(../_img/btn_1.gif) no-repeat;
	margin-left: 8px;
}
.simplyBtn_1 input {
        font-weight: bold;
	border: none;
	height: 22px;
	padding-right: 8px;
	#padding-right: 2px;
	_padding-right: 2px;
	background: url(../_img/btn_1.gif) no-repeat right bottom;
}
.Contact_box .Contact_table {
	color: #999;
	margin: 4px 0 0 16px; 
}
.Contact_box .Contact_table tr {
	height: 24px;
}
.Contact_box .Contact_table a {
	color: #005A9A;
	margin-right: 6px;
}
.popTitle_1 {
	margin: 10px;
	background: url(../_img/tit.gif) no-repeat right bottom;
}
.popTitle_1 span {
	background: url(../_img/tit.gif) no-repeat left top;
	height: 30px;
	display: block;
}
.popTitle_1 em {
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	line-height: 30px;
	margin-left: 12px;
}
.popTitle_1 a.popClose{
	background: url(../_img/close.gif) no-repeat;
	width: 9px;
	height: 9px;
	margin: 11px 14px 0 0;
	float: right;
}
.popTitle_1 a.popClose:hover {
	background: url(../_img/closeDown.gif) no-repeat;
}
.popTable {
	font-size: 14px;
	margin-left: 20px;
}
.popTable1 {
	font-size: 12px;
}
.popTable1 a {
	color: #005c9c;
}
.popTable1 a:hover {
	color: #F90;
}
.popTable .headImg {
	background: #fff;
	border: #D3D3D3 solid 1px;
	width: 106;
	height: 106;
}
.popTable .Request {
	color: #999;
	font-size: 12px;
	padding-left: 90px;
}
.information_table .inputText {
	width: 190px;
}
.information_table .Request {
	color: #999;
	font-size: 12px;
	line-height: 0;
}
.information_table .simplyBtn_11 input {
	padding-right: 32px;
	#padding-right: 12px;
	_padding-right: 12px;
}
.information_table a.findKey {
	color: #005c9c;
	margin-left: 20px;
}
.information_table a:hover.findKey {
	color: #F60;
}
.main_mid .tipsPayway {
	font-style: normal;
	margin: 8px;
	display: block;
}
.main_mid .Worg {
	background: url(../_img/worning.gif) no-repeat 15px 10px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	margin: 10px 0 2px 0;
	padding-left: 86px;
}
.main_mid .Attention {
	background: url(../_img/Attention.gif) no-repeat 15px 10px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	margin: 10px 0 2px 0;
	padding-left: 86px;
}
.main_mid .Attention1 {
	background: url(../_img/alreday.gif) no-repeat 15px 10px #FFFFEE;
	height: 100px;
}
.main_mid .Attention2 {
	background: url(../_img/OK_img.gif) no-repeat 15px 10px #FFFFEE;
	height: 160px;
}
.main_mid .Attention3 {
	background: url(../_img/OK_img.gif) no-repeat 15px 10px #FFFFEE;
	height: 180px;
}
.main_mid .Attention4 {
	width: 874px;
}
.main_mid .Attention5 {
	background: url(../_img/worning.gif) no-repeat 15px 10px #FFFFEE;
	height: auto;
	padding-bottom: 8px;
}
.main_mid .Worg .attentionTitle {
	border-bottom: #D3D3D3 solid 1px;
	height: 34px;
	line-height: 34px;
}
.main_mid .Worg .attentionTitle1 {
	border-bottom: none;
	padding-top: 16px;
}
.main_mid .Attention .attentionTitle {
	border-bottom: #D3D3D3 solid 1px;
	height: 34px;
	line-height: 34px;
}
.main_mid .Attention .attentionTitle1 {
	border-bottom: none;
	padding-top: 16px;
}
.main_mid .Attention .attentionTitle2 {
	padding-top: 16px;
	height: 70px;
}
.main_mid .Worg .attentionTitle em {
	font-style: normal;
	margin-left: 6px;
}
.main_mid .Worg .attentionTitle1 em {
	font-weight: bold;
	font-size: 16px;
}
.main_mid .Attention .attentionTitle em {
	font-style: normal;
	margin-left: 6px;
}
.main_mid .Attention .attentionTitle1 em {
	font-weight: bold;
	font-size: 16px;
}
.main_mid .Attention .attentionTitle2 em {
	font-weight: bold;
	font-size: 16px;
}
.main_mid .Attention .attentionTitle1 p {
	margin: 0;
}
.main_mid .Attention .attentionTitle2 p {
	margin: 0 0 0 6px;
	color: #666;
}
.main_mid .Attention .attentionList li {
	line-height: 24px;
}
.main_mid .Attention .attentionList li a {
	color: #005c9c;
}
.main_mid .Attention .attentionList li a:hover {
	color: #F90;
}
.main_mid .Attention .attentionList {
	margin: 30px 0 0 20px;
	padding: 0;
}
.main_mid .Wronning {
	background: url(../_img/Wroning_small.gif) no-repeat 6px 6px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 910px;
	height: 45px;
	padding: 4px 0px 0 36px;
}
.main_mid .Wronning1 {
	height: 24px;
}
.main_mid .Wronning .wronningTitle em {
	font-style: normal;
}
.main_mid .Wronning .wronningTitle em.h1 {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.main_mid .Wronning .wronningTitle em.h2 {
	color: #FF7200;
}
.main_mid .sendToEmail {
	background: url(../_img/OK_img.gif) no-repeat 15px 10px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	height: 140px;
	margin: 10px 0 2px 0;
	padding-left: 86px;
}
.main_mid .modifySuccess {
	height: 100px;
}
.main_mid .sendToEmail .sendToEmailTitle {
	border-bottom: #D3D3D3 solid 1px;
	height: 70px;
	line-height: 34px;
}
.main_mid .modifySuccess .modifySuccessTitle {
	height: 40px;
	padding-top: 20px;
}
.main_mid .sendToEmail .sendToEmailTitle em {
	font-style: normal;
	margin-left: 6px;
	font-size: 16px;
	font-weight: bold;
}
.main_mid .sendToEmail .sendToEmailTitle em a {
	color: #005c9c;
}
.main_mid .sendToEmail .sendToEmailTitle em a:hover {
	color: #F90;
}
.main_mid .sendToEmail .sendToEmailTitle p {
	color: #999;
	margin: 0 0 0 4px;
}
.main_mid .sendToEmail .sendToEmailTitle p a {
	color: #005c9c;
}
.main_mid .sendToEmail .sendToEmailTitle p a:hover {
	color: #F90;
}
.main_mid .sendToEmail .sendToEmailList li {
	line-height: 24px;
}
.main_mid .sendToEmail .sendToEmailList {
	margin: 8px 0 0 20px;
	padding: 0;
}
.main_mid .goBack {
	margin: 12px 0 0 12px;
}
.main_mid .goBack img{
	margin-top: 0;
	float: left;
}
.main_mid .goBack a {
	margin-left: 8px;
	color: #005c9c;
}
.main_mid .goBack a:hover {
	color: #F90;
}
.main_mid .paymentSuccessful {
	background: url(../_img/OK_img.gif) no-repeat 15px 10px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	margin-top: 10px;
	padding-left: 98px;
	padding-top: 10px;
}
.main_mid .paymentSuccessful .paymentSuccessfulTitle {
	line-height: 30px;
}
.main_mid .paymentSuccessful .paymentSuccessfulTitle em {
	font-style: normal;
	margin-left: 6px;
	font-size: 16px;
	font-weight: bold;
}
.main_mid .paymentSuccessful .paymentSuccessfulTitle p {
	margin: 0 0 0 8px;;
}

.main_mid .paymentFail {
	background: url(../_img/worning.gif) no-repeat 15px 10px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	margin-top: 10px;
	padding-left: 98px;
	padding-top: 10px;
}
.main_mid .paymentFail .paymentFailTitle {
	line-height: 30px;
}
.main_mid .paymentFail .paymentFailTitle em {
	font-style: normal;
	margin-left: 6px;
	font-size: 16px;
	font-weight: bold;
}
.main_mid .paymentFail .paymentFailTitle p {
	margin: 0 0 0 8px;;
}
.main_mid .tableRight {
	margin: 12px 0 0 700px;
}
.main_mid .tableRight em{
	font-style: normal;
	display: block;
}
.main_mid .tableRight .headImg {
	background: #FFF;
	border: #D2D2D2 solid 1px;
	width: 106px;
	height: 106px;
	float: left;
	margin-top: 12px;
}
.main_mid .paymentFailure {
	background: url(../_img/Attention.gif) no-repeat 15px 10px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	height: 80px;
	margin: 10px 0 2px 0;
	padding-left: 86px;
	padding-top: 10px;
}
.main_mid .paymentFailure .paymentFailureTitle {
	height: 30px;
	line-height: 24px;
}
.main_mid .paymentFailure .paymentFailureTitle em {
	font-style: normal;
	margin-left: 6px;
	font-size: 16px;
	font-weight: bold;
}
.main_mid .paymentFailure .paymentFailureTitle p {
	margin: 0 0 0 8px;;
}
.main_mid .tableRight .speak {
	background: url(../_img/duihuakuang.gif) no-repeat;
	width: 219px;
	height: 39px;
	display: block;
	padding: 8px 0 0 8px;
}
.main_mid .closeTransaction {
	background: #FFFFEE;
	border: #FFD326 solid 1px;
	width: 860px;
	height: 220px;
	margin: 10px 0 2px 0;
	padding-left: 16px;
}
.main_mid .closeTransaction .closeTransactionTitle em {
	color: #F60;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 34px;
}
.main_mid .closeTransaction .closeTransactionTitle p {
	line-height: 20px;
	margin: 0;
	margin-left: 20px;
}
.tableRight .speak-top {
	padding-top: 4px;
	display: inline-block;
	background: url(../_img/speak-top.gif) no-repeat;
	width: 219px;
}
.tableRight .speak-top span {
	background: url(../_img/speak-bottom.gif) bottom no-repeat;
	width: 219px;
	display: inline-block;
	padding-bottom: 12px;
}
.tableRight .speak-top span p {
	margin: 2px 0 0 6px;
}
.main_mid .receiving {
	background: #FFFFEE;
	border: #FFD326 solid 1px;
	width: 946px;
	height: 140px;
	margin: 6px 0;
}
.main_mid .receiving_1 {
	background: #FFFFEE;
	border: #FFD326 solid 1px;
	margin: 6px 0;
	padding-bottom: 12px;
}
.main_mid .receiving_2 {
	height: auto;
	width: auto;
}
.main_mid .receiving_3 {
	height: auto;
	width: auto;
}
.main_mid .receiving_4 {
	background: #FFFFEE;
	border: #FFD326 solid 1px;
	margin: 6px 0;
	padding-bottom: 12px;
	_margin: 0;
}
.main_mid .receiving-bottom {
	background: url(../_img/security/zhuyi_ico.gif) no-repeat 4px 6px #EEF4FF;
	border: #CED1D8 solid 1px;
	margin: 0 12px 12px 12px;
	padding: 4px 8px 4px 20px;
}
.deal_table tr td a {
	position: relative;
}
.deal_table tr td a .popbox-1 {
	background:  url(../_img/security/pop_1.gif) no-repeat;
	width: 256px;
	height: 86px;
	display: none;
	position: absolute;
	left: -160px;
	#top: 20px;
}
.deal_table tr td a:hover .popbox-1 {
	display: block;
	text-decoration:none;
}
.deal_table tr td a .popbox-1 p {
	margin: 12px 0 0 6px;
	color: #000;
}
.main_mid .searchBar {
	margin: 12px 0 0 0;
}
.main_mid .searchBar em {
	color: #666;
	font-style: normal;
}
.refundAgreement {
	width: 580px;
	float: left;
}
.refundAgreement ul {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.refundAgreement ul li {
	list-style: none;
	border-bottom: #e0e0e0 solid 1px;
}
.refundAgreement ul li a {
	color: #005c9c;
}
.refundAgreement ul li span {
	width: 130px;
	line-height: 28px;
	display: inline-block;
	text-align: right;
	margin-right: 8px;
}
.refundAgreement .totlePriceTable span {
	text-align: left;
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	width: 90px;
}
.refundAgreement .totlePriceTable .totlePriceTitle {
	padding: 0 0 0 8px;
	background: #f0f0f0;
	line-height: 24px;
}
.refundAgreement .totlePriceTable .totlePrice {
	padding: 0 0 0 8px;
	line-height: 24px;
}
.refundAgreement-right {
	float: right;
	background: #FAFAFA;
	border: #DDDDDD solid 1px;
	width: 350px;
	margin: 12px 0 0 0;
	padding: 8px 0;
}
.refundAgreement-right span {
	line-height: 30px;
	border-bottom: #DDDDDD solid 1px;
	width: 325px;
	display: inline-block;
}
.refundAgreement-right-title {
	font-weight: bold;
	font-size: 14px;
	margin-left: 12px;
}
.refundAgreement-right p {
	margin: 8px 10px;
}
.refundAgreement-right p.refundAgreement-right-down {
	margin-top: 20px;
}
.refundAgreement-right a {
	color: #005c9c;
}
.refundAgreement-right a:hover {
	color: #F60;
}
.refundAgreement-bottom a {
	margin-right: 20px;
	color:  #005c9c;
}
.refundAgreement-bottom a:hover {
	color: #F60;
}
.refundAgreementMore span a {
	font-size: 14px;
	color: #005c9c;
}
.refundAgreementMore span a:hover {
	color:#F60;
}
.refundAgreementModified {
	background: #FFF6EF;
	border: #EE9F76 solid 1px;
	margin: 8px 0;
}
.xynr {
	margin:0 0 0 12px; 
	padding:0;
}
.xynr li {
	padding-bottom: 8px;
}
.hr {
	height: 1px;
	background: #333;
	overflow: hidden;
}
.information_table td .haveReceived {
	background: url(../_img/security/Wroning_small.gif) no-repeat 8px 5px #FFFFEE;
	border: #FFD326 solid 1px;
	width: 430px;
	padding: 5px 12px 5px 30px;
	margin-top: 6px;
	font-size: 12px;
	line-height: 16px;
}
.information_table td .haveReceived em {
	font-style: normal;
	color: #C90;
}
.information_table td .noReceived {
	background: url(../_img/security/zhuyi_ico.gif) no-repeat 4px 6px #EEF4FF;
	border: #CED1D8 solid 1px;
}
.information_table .information_text {
	font-style: normal;
	font-size: 12px;
	color: #999;
	margin-left: 12px;
}
.information_table td .simplyBtn_1 {
	margin: 0;
}
.HoverDetail{
	position:absolute;
	display:none;
	width:250px;word-break:break-all;
}
.HoverDetail .top{
	height:9px;
	font-size:0;
	background:url(../_img/security/bg_adjust_fee_top.png) no-repeat;
}
.HoverDetail .center{
	padding:10px;
	border:1px solid #acacac;
	border-top-width:0;
	background:#fff;
}
.HoverDetail .center p{
	margin:4px 0;
	background:#fff;
}
.HoverDetail p.coupon{
	padding-left:60px;
}
.text_style{
	border:1px solid #999;
}

.text_style1{
	border:1px solid #FFD327;
}

.text_style2{
	border:1px solid #999;
	width: 180px;
}

/*原my_account.css*/
#main {
	margin-top:15px;
}
#left_box {
	float:left;
	width:170px;
}
#news_left_box {
	float:left;
	width:240px;
	}
#news_left_box ul, #news_left_box li {
	padding: 0;
	margin: 0;
	}
#news_left_box li {
	list-style: none;
	padding: 5px 0 5px 13px;
	background:url(../_img/security/news_list_dot.gif) no-repeat 0 9px;
	}
#news_left_box  a {
	color: #666;
	text-decoration: none;
	}
#news_left_box .leftbox_count_p {
	font-weight: bold;
	color: #fff;
	}
#right_box {
	float:right;
	width:796px;
}
#news_right_box {
	float:right;
	width:730px;
	}
.leftbox_top, .news_leftbox_top {
	background:url(../_img/security/my_leftbox_bg_top.gif) no-repeat top;
	padding-top:8px;
}
.news_leftbox_top {
	background:url(../_img/security/news_leftbox_bg_top.gif) no-repeat top;
	}
.leftbox_bottom {
	background:url(../_img/security/my_leftbox_bg_bottom.gif) no-repeat bottom;
	padding-bottom:8px;
}
#news_left_box .leftbox_bottom {
	background:url(../_img/security/news_leftbox_bg_bottom.gif) no-repeat bottom;
	}
.leftbox_count {
	border-left:1px solid #D3D3D3;
	border-right:1px solid #D3D3D3;
	padding:0 5px;
	background:#FFF;
	_padding-bottom: 5px;
	*padding-bottom: 5px;
}
.leftbox_count p {
	margin:0;
	padding:8px;
}
.leftbox_count p a {
	color:#000;
	text-decoration:none;
}
.leftbox_count_p {
	background:url(../_img/security/btn4_bg.gif) no-repeat;
}
.leftbox_count .leftbox_count_p a {
	font-weight:bold;
	color:#FFF;
}
#news_left_box .leftbox_count_p {
	background:url(../_img/security/news_btn4_bg.gif) no-repeat;
	}
.leftbox_top1 {
	background:url(../_img/security/my_leftbox_bg1_top.gif) no-repeat top;
	padding-top:8px;
	margin-top:15px;
}
.leftbox_bottom1 {
	background:url(../_img/security/my_leftbox_bg1_bottom.gif) no-repeat bottom;
	padding-bottom:8px;
}
.leftbox_count1 {
	border-left:1px solid #C4C7CA;
	border-right:1px solid #C4C7CA;
	padding:0 5px;
	#padding-bottom: 1px;
	_padding-bottom: 1px;
	background:#EDF0F4;
	
}
.leftbox_count1 p {
	margin:0;
	padding:2px 8px 5px 8px;
	font-weight:bold;
}
.leftbox_count1 ul {
	margin:0 0 0 20px;
	padding:0;
}
.leftbox_count1 ul li {
	color:#727272;
	margin:0;
	padding:10px 0;
}
.leftbox_count1 ul li a {
	color:#000;
	text-decoration:none;
}
.rightbox_top {
	background:url(../_img/security/rightbox_bg_top.gif) no-repeat top;
	padding-top:12px;
	margin-bottom:15px;
}
#news_right_box .rightbox_top {
	background:url(../_img/security/news_rightbox_bg_top.gif) no-repeat top;
	}
.rightbox_bottom {
	background:url(../_img/security/rightbox_bg_bottom.gif) no-repeat bottom;
	padding-bottom:12px;
}
#news_right_box .rightbox_bottom {
	background:url(../_img/security/news_rightbox_bg_bottom.gif) no-repeat bottom #fff;
	}
.rightbox_count {
	border-left:1px solid #D2D2D2;
	border-right:1px solid #D2D2D2;
	padding:0 8px;
	background:#FFF;
	#padding-bottom:1px;
}
.rightbox_title {
	background:url(../_img/security/title_bg1.jpg) no-repeat left;
	padding-left:2px;
}
.rightbox_title_right {
	background:url(../_img/security/title_bg2.jpg) no-repeat right;
	padding-right:2px;
}
.rightbox_title_count {
	height:14px;
	background:#E4E4E4;
	padding:8px;
	font-weight:bold;
}
.right_count_tabel td {
	padding:8px 5px;
}
.right_count_tabel td a {
	color:#005C9C;
	margin-right:20px;
}
.right_count_tabel td  img {
	vertical-align:middle;
	margin-right:5px;
}

.user_pic {
	float:right;
	width:104px;
	text-align:center;
	margin-right:50px;
	background:#FFF;
	margin-top:10px;
}
.user_pic img {
	padding:1px;
	border:1px solid #D3D3D3;
	height:100px;
	width:100px;
	margin-bottom:8px;
}
.user_pic a {
	color:#005C9C;
	font-size:12px;
}
.font_style3 {
	width:75px;
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
	display:inline-block;
	text-align:right;
	margin-right:15px;
}
.right_count_tabel td .a_style1 {
	text-decoration:none;
	color:#000;
	margin-left:15px;
}
.right_count_tabel td .a_style2 {
	text-decoration:none;
	color:#CC0000;
	margin-left:15px;
}
.font_style4 {
	color:#CC0000;
}
.right_count_tabel td p {
	padding:5px 0;
	margin:0;
}
.chongzhi {
	margin-top: 12px;
	position: relative;
	_height: 1px;
}
.chongzhi em {
	font-style: normal;
	color:#005C9C;
}
.id_card_chongzhi {
	border:1px solid #DDD;
	background:#FAFAFA;
	padding:10px;
	border-top:none;
	margin:0;
	_height: 1px;
}
.id_card_chongzhi2 {
	display:none;
}
.id_card_chongzhi .changeChongzhi {
	font-size: 14px;
	margin: 10px 0;
}
.id_card_chongzhi a {
	color:#005C9C;
	margin-left: 610px;
}
.id_card_chongzhi a:hover {
	color: #F60;
}
.id_card_tixian1 {
	display:none;
}
.tixian_shezhizhanghao {
	border-bottom: #CCC solid 1px;
	width: 715px;
	margin-left: 25px;
	line-height: 30px;
}
.tixianBox1 {
	float: left;
	background: #EEEEEE;
	border: #D3D3D3 solid 1px;
	display: block;
	width: 300px;
	height: 274px;
}
.tixianBox2 {
	background: url(../_img/security/tixian_right.gif) 50% 50% no-repeat;
	float: left;
	display: block;
	width: 128px;
	height: 262px;
	padding: 0 12px;
	line-height: 24px;
	text-align: center;
	color:#005C9C;
}
.tixianBox3 {
	float: right;
}
.tixian_table {
	font-size:12px;
	margin:0;
	padding:8px 0;
}
.tixian_table td {
	padding:8px 3px;
}
.tixian_table td a {
	color:#005C9C;
	font-size:12px;
	margin-left:10px;
}
.tixian_table .right_td {
	text-align:right;
}
.tixian_text {
	margin-top: 12px;
	line-height: 18px;
}
.tixian_text a {
	color: #005C9C;
}
.otherWork ul {
	line-height: 18px;
	padding-left: 12px;
	_padding: 0;
	_margin-left: 12px;
	#padding: 0;
	#margin-left: 12px;
}
.otherWork ul a {
	color: #005C9C;
}
.otherWork ul a:hover {
	color: #F60
}
.SecurityCenter {
	margin-top: 12px;
}
.SecurityCenter .left_bg {
	background: url(../_img/security/SecurityCenter_bg_1.jpg) no-repeat;
	width: 333px;
	height: 469px;
	float: left;
}
.SecurityCenter .rightTop_bg {
	background: url(../_img/security/SecurityCenter_bg_2.jpg) no-repeat;
	width: 647px;
	height: 166px;
	float: left;
}
.SecurityCenter .rightTop_bg .contactText {
	color: #999;
	margin-left: 390px;
	_margin-top: 12px;
	#margin-top: 14px;
}
.SecurityCenter .rightTop_bg .contactText a {
	color: #005C9C;
}
.SecurityCenter .rightTop_bg .contactText a:hover {
	color: #F60;
}
.SecurityCenter .rightTop_bg .yourLogin_tab {
		margin: 8px 0 0 310px;
}
.SecurityCenter .rightTop_bg .yourLogin {
	color: #005C9C;
	text-align: left;
	padding: 4px 4px;
}
.SecurityCenter .rightBottom_bg {
	background: url(../_img/security/SecurityCenter_bg_3.jpg) no-repeat;
	width: 647px;
	height: 303px;
	line-height: 20px;
	float: left;
}
.SecurityCenter .rightBottom_bg .leftQuestions {
	margin: 90px 0 0 18px;
	width: 270px;
	float: left;
	_margin-left: 10px;
}
.SecurityCenter .rightBottom_bg .leftQuestions ul {
	margin: 12px 0 0 0;
	padding: 0;
	line-height: 26px;
}
.SecurityCenter .rightBottom_bg .leftQuestions li {
	list-style-type: none;
}
.SecurityCenter .rightBottom_bg .leftQuestions li a {
	color: #005C9C;
	margin-left: 8px;
}
.SecurityCenter .rightBottom_bg .leftQuestions li a:hover {
	color: #F60;
}
.SecurityCenter .rightBottom_bg .rightQuestions {
	margin: 90px 0 0 36px;
}
.Digital_top {
	background: url(../_img/security/Digital_bg.gif) no-repeat top left;
	width: 796px;
	padding-top: 3px
}
.Digital_bottom {
	background: url(../_img/security/Digital_bg.gif) no-repeat bottom right;
	width: 796px;
	padding: 10px 0;
	margin-bottom: 12px;
}
.Digital_bottom label {
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
	color: #333;
}
.Digital_bottom p {
	margin-left: 20px;
	width: 520px;
	line-height: 18px;
	text-indent: 2em;
	color: #333;
}
.Digital_bottom p.p1 {
	color: #C00;
}
.Digital_bottom span {
	margin-left: 20px;
}
.rightbox_count label {
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
	color: #333;
}
.Features_1 {
	background: url(../_img/security/Features_1.gif) 20px 0 no-repeat;
	margin-top: 30px;
	padding:  0 12px 20px 90px;
	text-indent: 2em;
	line-height: 20px;
	border-bottom: #CCC dotted 1px;
}
.Features_1 p {
	margin: 0;
}
.Features_2 {
	background: url(../_img/security/Features_2.gif) 20px 0 no-repeat;
}
.Features_3 {
	background: url(../_img/security/Features_3.gif) 20px 0 no-repeat;
	border-bottom: none;
	text-indent: 0;
}
.qustion_ul {
	padding-bottom: 1px;
	margin-top: 12px;
}
.qustion_ul a {
	color: #005C9C;
}
.qustion_ul a:hover {
	color: #F60;
}
.qustion_ul ul {
	padding: 0 20px 0 20px;
	_padding-left: 0;
	_margin: 20px;
	#padding-left: 0;
	#margin: 20px;
}
.qustion_ul li {
	background: url(../_img/security/qustion_point.gif) no-repeat 0 13px;
	border-bottom: #CCC dotted 1px;
	height: 30px;
	line-height: 30px;
	list-style: none;
	padding-left: 16px;
}

.main_mid .Attention .attentionTitle {
	height: 34px;
	line-height: 34px;
}
.main_mid .Attention .attentionTitle5 {
	height: 70px;
	margin-top: 12px;
}
.main_mid .Attention .attentionList li {
	line-height: 24px;
}
.main_mid .Attention .attentionList li a {
	color: #005c9c;
}
.main_mid .Attention .attentionList li a:hover {
	color: #F90;
}
.contentwidth {
	width:200px;
}

