@media projection , screen {
	.tabs-hide {
		display: none;
	}
}

@media print {
	.fragment {
		display: block !important;;
		height: auto !important;;
		opacity: 1 !important;
	}
	.anchors {
		display: none;
	}
}

.anchors {
	list-style: none;;
	margin: 0;;
	padding: 0 0 1px;;
	z-index: 0;
}

.anchors:after {
	clear: both;;
	content: " ";;
	display: block;
}

.anchors li {
	float: left;;
	margin: 0 1px 0 0;
}

.anchors a {
	border: 1px solid #CCC;;
	display: block;;
	font-size: 14px;;
	margin-right: 7px;;
	padding: 5px;;
	position: relative;;
	text-decoration: none;;
	top: 1px;;
	z-index: 0;;
	margin-top: 5px;
}

.anchors .tabs-selected a {
	background: #FFF4C2;;
	border: 1px solid #FC3;;
	border-bottom: 0;;
	color: #000;;
	font-size: 16px;;
	font-weight: bold;;
	font-weight: bold;;
	margin: 0;;
	margin-bottom: -1px;;
	margin-left: 0;;
	margin-right: 7px;;
	padding: 10px 11px 13px 11px;;
	text-decoration: none;;
	top: 1px;
}

* html .anchors .tabs-selected a,* html .anchors a {
	color: #000;;
	margin-right: 7px;
}

.anchors a:focus,.anchors a:active {
	outline: none;
}

.anchors a:hover,.anchors a:focus,.anchors a:active {
	background: #EEF;
}

.anchors .tabs-selected a,.anchors .tabs-selected a:hover {
	background: #FFF4C2;
}

.anchors a img {
	padding-right: 5px;
}

.anchors a span {
	padding: 0;
}

.anchors .tabs-selected a:link,.anchors .tabs-selected a:visited {
	cursor: text;
}

.anchors a:hover,.anchors a:focus,.anchors a:active {
	cursor: pointer;
}

.fragment {
	background: #FFF4C2;;
	border: 1px solid #FC3;;
	padding: 8px;
}

*+html .anchors {
	_height: 1%;;
	display: inline-block;
}

*+html .anchors a {
	float: left;
}

div.TabContent {
	background: #FFF;;
	padding: 10px;;
	text-align: left;
}

.InsideTab {
	border: 3px solid #6F74A9;;
	padding: 2px;
}

.InsideTab .anchors {
	background:
		url(../_img/vertical.png)
		repeat-x 0 -90px;;
	padding: 0 5px 0 0;
}

.InsideTab .anchors li {
	right: 0;
}

.InsideTab .anchors .tabs-selected a {
	background: url(../_img/tab.png)
		no-repeat -30px -725px;;
	border: 0;;
	color: #013299;;
	font-weight: bold;;
	margin: 7px -2px 0 3px;;
	padding: 0;
}

.InsideTab .anchors .tabs-selected a span {
	background: url(../_img/tab.png)
		right -750px;;
	display: block;;
	padding: 6px 16px 5px 12px;
}

.InsideTab .anchors .tabs-selected a:hover {
	background: url(../_img/tab.png)
		no-repeat -30px -725px;;
	color: #FF7300;
}

.InsideTab .anchors a {
	background:
		url(../_img/vertical.png)
		repeat-x 0 -130px;;
	border: 1px solid #AEB7D6;;
	border-bottom: 0;;
	color: #122176;;
	font-size: 12px;;
	font-weight: normal;;
	left: 10px;;
	margin: 9px 3px 0 3px;;
	padding: 4px 10px 3px 10px;;
	top: 0;
}

.InsideTab .anchors a:hover,.InsideTab .anchors a:focus,.InsideTab .anchors a:active
	{
	background:
		url(../_img/vertical.png)
		repeat-x 0 - -130px;;
	color: #FF7300;
}

.InsideTab .fragment {
	background: #FFF;;
	border: 0;;
	padding: 8px;
}

* html .InsideTab .anchors a,*+html .InsideTab .anchors a {
	padding: 4px 10px 4px 10px;
}

.Tab .anchors li {
	margin-right: -1px;
}

.Tab .anchors .tabs-selected a {
	background: url(../_img/tab.png)
		no-repeat -50px -580px;;
	border: 0;;
	color: #013299;;
	color: #FFF;;
	font-size: 14px;;
	font-weight: bold;;
	padding: 0;;
	margin-right: 7px;
}

.Tab .anchors .tabs-selected a span {
	background: url(../_img/tab.png)
		right -608px;;
	display: block;;
	padding: 8px 20px 4px 20px;
}

.Tab .anchors .tabs-selected a:hover {
	background: url(../_img/tab.png)
		no-repeat -50px -580px;;
	color: #FFF;
}

.Tab .anchors a {
	background: url(../_img/tab.png)
		no-repeat -50px -660px;;
	border: 0 solid #AEB7D6;;
	border-bottom: 0;;
	color: #000;;
	font-size: 14px;;
	font-weight: bold;;
	left: 0;;
	margin-top: 0;;
	padding: 0;;
	top: 0;;
	margin-right: 7px;
}

.Tab .anchors a span {
	background: url(../_img/tab.png)
		right -688px;;
	display: block;;
	line-height: 16px;;
	margin: 0;;
	padding: 8px 20px 4px 20px;
}

.Tab .anchors a:hover,.Tab .anchors a:focus,.Tab .anchors a:active {
	background: url(../_img/tab.png)
		no-repeat -50px -660px;;
	color: #FF7300;
}

.Tab .fragment {
	background: #FFF;;
	border: 0;;
	border: 1px solid #6F74A9;;
	padding: 0;
}

.Tab .TabContent {
	border: 3px solid #D9D9DE;;
	padding: 16px;
}

.Tab,.Tab .anchors {
	padding: 0;
}