<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<bean name="/mobile/agent19pay"
		class="com.fordays.qmpay.shop.agent19pay.action.Agent19payAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agent19payBiz">
			<ref bean="agent19payBiz"/>
		</property>
	</bean>
		<bean id="agent19payBiz"
		class="com.fordays.qmpay.shop.agent19pay.biz.Agent19payBizImp">
		<property name="transactionDAO">
			<ref bean="transactionDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
			<property name="noUtil">
			<ref bean="noUtil" />
		</property>
	</bean>
</beans>