<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<bean name="/transaction/transaction"
		class="com.fordays.fdpay.transaction.action.TransactionAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="transactionBiz">
			<ref bean="transactionBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="agent19payBiz">
			<ref bean="agent19payBiz" />
		</property>
		<property name="agentCoterieBiz">
			<ref bean="agentCoterieBiz" />
		</property>
	 <property name="blackscreenBiz">
			<ref bean="blackscreenBiz" />
		</property>
	</bean>
	<bean name="/transaction/transactionlist"
		class="com.fordays.fdpay.transaction.action.TransactionAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="transactionBiz">
			<ref bean="transactionBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/transaction/logistics"
		class="com.fordays.fdpay.transaction.action.TransactionAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="transactionBiz">
			<ref bean="transactionBiz" />
		</property>

		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/transaction/charge"
		class="com.fordays.fdpay.transaction.action.ChargeAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="chargeBiz">
			<ref bean="chargeBiz" />
		</property>
		<property name="chargeLogBiz">
			<ref bean="chargeLogBiz" />
		</property>
		<property name="ccbBankBiz">
			<ref bean="ccbBankBiz" />
		</property>
		<property name="icbcBankBiz">
			<ref bean="icbcBankBiz" />
		</property>
		<property name="bcmBankBiz">
			<ref bean="bcmBankBiz" />
		</property>
		<property name="cmbcBankBiz">
			<ref bean="cmbcBankBiz" />
		</property>
		<property name="abcBankBiz">
			<ref bean="abcBankBiz" />
		</property>
		<property name="bocBankBiz">
			<ref bean="bocBankBiz" />
		</property>
		<property name="citicBankBiz">
			<ref bean="citicBankBiz" />
		</property>
		<property name="cmbBankBiz">
			<ref bean="cmbBankBiz" />
		</property>
		
	</bean>

	<bean name="/transaction/chargelist"
		class="com.fordays.fdpay.transaction.action.ChargeListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="chargeBiz">
			<ref bean="chargeBiz" />
		</property>
	</bean>

	<bean name="/transaction/drawlist"
		class="com.fordays.fdpay.transaction.action.DrawListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="drawBiz">
			<ref bean="drawBiz" />
		</property>

	</bean>
	<bean name="/transaction/draw"
		class="com.fordays.fdpay.transaction.action.DrawAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="drawBiz">
			<ref bean="drawBiz" />
		</property>
		<property name="drawLogBiz">
			<ref bean="drawLogBiz" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>

	</bean>

	<bean id="transactionBiz"
		class="com.fordays.fdpay.transaction.biz.TransactionBizImpl">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionDAO">
			<ref bean="transactionDAO" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="coterieDAO">
			<ref bean="coterieDAO" />
		</property>
	</bean>

	<bean id="transactionDAO"
		class="com.fordays.fdpay.transaction.dao.TransactionDAOImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean name="drawBiz"
		class="com.fordays.fdpay.transaction.biz.DrawBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="drawDAO">
			<ref bean="drawDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
			<property name="transactionDAO">
			<ref bean="transactionDAO" />
		</property>
			<property name="noUtil">
			<ref bean="noUtil" />
		</property>
	</bean>
	<bean id="drawDAO"
		class="com.fordays.fdpay.transaction.dao.DrawDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="chargeBiz"
		class="com.fordays.fdpay.transaction.biz.ChargeBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="rightDAO">
			<ref bean="rightDAO"/>
		</property>
		<property name="chargeDAO">
			<ref bean="chargeDAO" />
		</property>
		<property name="chargeLogDAO">
			<ref bean="chargeLogDAO" />
		</property>
		<property name="transactionDAO">
			<ref bean="transactionDAO" />
		</property>
	</bean>
	<bean id="chargeDAO"
		class="com.fordays.fdpay.transaction.dao.ChargeDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean name="accountBiz"
		class="com.fordays.fdpay.agent.biz.AccountBizImpl" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="accountDAO">
			<ref bean="accountDAO" />
		</property>
		<property name="tasktimestampDAO">
			<ref bean="tasktimestampDAO" />
		</property>
		<property name="bankDAO">
			<ref bean="bankDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="cityDAO">
			<ref bean="cityDAO" />
		</property>
	</bean>

	<bean name="drawLogBiz"
		class="com.fordays.fdpay.transaction.biz.DrawLogBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="drawLogDAO">
			<ref bean="drawLogDAO" />
		</property>
	</bean>

	<bean id="drawLogDAO"
		class="com.fordays.fdpay.transaction.dao.DrawLogDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="chargeLogBiz"
		class="com.fordays.fdpay.transaction.biz.ChargeLogBizImp">
		<property name="transactionManager" ref="transactionManager" />
		<property name="chargeLogDAO">
			<ref bean="chargeLogDAO" />
		</property>
	</bean>

	<bean id="chargeLogDAO"
		class="com.fordays.fdpay.transaction.dao.ChargeLogDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>